body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #58577f;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.sidebar {
    width: 200px; /* Πλάτος του sidebar */
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

main {
    padding: 20px;
}

.service {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #58577f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
